.main {
    margin-top: 1rem;
}

.link {
    text-decoration: none;
    color: black;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.search-input {
    display: block;
    margin: auto;
    width: 300px;
    padding: 0.5rem;
    font-size: 0.75rem;
}

* {
    box-sizing: border-box;
}

/* Style the search field */
form.search input[type='text'] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

/* Style the submit button */
form.search button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196f3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}

form.search button:hover {
    background: #0b7dda;
}

/* Clear floats */
form.search::after {
    content: '';
    clear: both;
    display: table;
}
#employees {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-spacing: 0.5rem;
}

#employees td,
#employees th {
    border: 1px solid #ddd;
    padding: 8px;
}

#employees tr:nth-child(even) {
    background-color: #f2f2f2;
}

#employees tr:hover {
    background-color: #ddd;
}

#employees th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04aa6d;
    color: white;
}

h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #080808;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}
h1 em {
    font-style: normal;
    font-weight: 600;
}

/* === HEADING STYLE #1 === */
.main-header h1 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.main-header h1:before {
    width: 28px;
    height: 5px;
    display: block;
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
}
.main-header h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: '';
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
}

/* === HEADING STYLE #2 === */

.second-header h4 {
    text-align: left;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.second-header h4 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
    color: #202020;
    text-transform: uppercase;
    word-spacing: 1px;
    letter-spacing: 2px;
}

.second-header h4:before {
    width: 28px;
    height: 5px;
    display: block;
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
}
.second-header h4:after {
    width: 100px;
    height: 1px;
    display: block;
    content: '';
    position: relative;
    left: 50%;
    margin-top: 25px;
    margin-left: -50px;
    background-color: #b80000;
}

.back-icon {
    font-size: 30px !important;
    margin-top: 10px !important;
}
